
<% include partials/header %>

<h1 class='display-3 text-center'>
	Create a new Campground
</h1>

<div class='row justify-content-center'>

	<div class='col-md-9'>
		
	<form action='/campgrounds' method='POST'>
  <div class="form-group">
    <label for="exampleInputEmail1">Name of campground</label>
    <input name='name' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Enter the URL of the corresponding image</label>
    <input name='image' type="text" class="form-control" id="exampleInputPassword1" placeholder="Image Url">
  </div>
<div class="form-group">
		 <label for="CampDescription">Please enter the description of the camp</label>
	<textarea rows="10" name='description' type="text" class="form-control" id="CampDescription" placeholder="Description"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<a class='ml-2' href='/campgrounds'>Go back</a>
	</div>
</div>


<% include partials/footer %>